body {
	background-color: rgb(128,23,14);
	color:white;
	font-size: 72px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}
img {
	width: 300px;
}

#box {
	border: 5px double white;
	width: 500px;
	margin: 10px auto;
	padding:20px;
}